@model ClassLibrary.Models.DashboardViewModel
    <link href="~/Content/morris.css" rel="stylesheet" />
<link href="~/Content/Digtalstyle.css" rel="stylesheet" />
<script src="~/Content/Digitalscript.js"></script>
<script src="~/Scripts/moment.min.js"></script>

<section class="content-header">
    <h1>
        Dashboard

    </h1>

</section>
<!-- Main content -->
<section class="content" style="min-height:0px !important">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-3">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>3</h3>
                    <p>Manufacturers</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>7<sup style="font-size: 20px"></sup></h3>
                    <p>Parts</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3">
            <!-- small box -->
            <div class="small-box bg-red">

                <div class="inner">
                    <div class="inner">
                        <h3>5<sup style="font-size: 20px"></sup></h3>
                        <p>MOPs</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                </div>

            </div>
        </div>
        <!-- ./col -->
        <!-- ./col -->
        <div class="col-md-3">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <div class="inner">
                        <h3>8<sup style="font-size: 20px"></sup></h3>
                        <p>TML Items</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>


                </div>

            </div>
            <!-- ./col -->
            <!-- ./col -->
        </div>
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <!-- right col -->
    </div>
    <!-- /.row (main row) -->
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid bg-red">
                <div class="box-header">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title">Configuration States</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <!-- button with a dropdown -->


                    </div>
                    <!-- /. tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <!--The calendar -->
                    <div id="calendar" style="width: 100%"></div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-black">
                    <div class="row">
                        <br />
                        <div class="col-sm-6">
                            <!-- Progress bars -->
                            @*<div class="clearfix">
                                    <span class="pull-left">Criminal Records </span>
                                    <small class="pull-right">@Model.CriminalRecord_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.CriminalRecord_Count%; background-color:#ff0000"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Legal Assistance Records </span>
                                    <small class="pull-right">@Model.LA_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.LA_Count%; background-color:#f4a460"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Private Fire Arm Records </span>
                                    <small class="pull-right">@Model.PFA_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.PFA_Count%; background-color:#6a5acd"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Pets Records </span>
                                    <small class="pull-right">@Model.Pets_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.Pets_Count%; background-color:#54a460"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Naval Driving Permits Records </span>
                                    <small class="pull-right">@Model.NDP_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.NDP_Count%; background-color:#008b8b"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Verification of Houses Records </span>
                                    <small class="pull-right">@Model.VOH_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.VOH_Count%; background-color:#c0c0c0"></div>
                                </div>*@
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                            @*<div class="clearfix">
                                    <span class="pull-left">Warrant of Arrest Records </span>
                                    <small class="pull-right">@Model.WOA_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.WOA_Count%; background-color:#8b4513"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Road Traffic Accident Records </span>
                                    <small class="pull-right">@Model.RTA_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.RTA_Count%; background-color:#ff6347"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Civil MT Records </span>
                                    <small class="pull-right">@Model.CMT_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.CMT_Count%; background-color:#bdb76b"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Road Traffic Irregularities Records </span>
                                    <small class="pull-right">@Model.RTI_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.RTI_Count%; background-color:#000000"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Delegation Protocol Records </span>
                                    <small class="pull-right">@Model.DP_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.DP_Count%; background-color:#4169e1"></div>
                                </div>*@
                            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.box -->
            <!-- DONUT CHART -->
            <!-- /.box -->
        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
            <!-- /.box -->
            <!-- BAR CHART -->
            <div class="box box-solid bg-red">
                <div class="box-header">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title">Maintenance States</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <!-- button with a dropdown -->


                    </div>
                    <!-- /. tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <!--The calendar -->
                    <div id="calendar" style="width: 100%"></div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-black">
                    <div class="row">
                        <br />
                        <div class="col-sm-6">
                            <!-- Progress bars -->
                            @*<div class="clearfix">
                                    <span class="pull-left">Criminal Records </span>
                                    <small class="pull-right">@Model.CriminalRecord_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.CriminalRecord_Count%; background-color:#ff0000"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Legal Assistance Records </span>
                                    <small class="pull-right">@Model.LA_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.LA_Count%; background-color:#f4a460"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Private Fire Arm Records </span>
                                    <small class="pull-right">@Model.PFA_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.PFA_Count%; background-color:#6a5acd"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Pets Records </span>
                                    <small class="pull-right">@Model.Pets_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.Pets_Count%; background-color:#54a460"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Naval Driving Permits Records </span>
                                    <small class="pull-right">@Model.NDP_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.NDP_Count%; background-color:#008b8b"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Verification of Houses Records </span>
                                    <small class="pull-right">@Model.VOH_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.VOH_Count%; background-color:#c0c0c0"></div>
                                </div>*@
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                            @*<div class="clearfix">
                                    <span class="pull-left">Warrant of Arrest Records </span>
                                    <small class="pull-right">@Model.WOA_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.WOA_Count%; background-color:#8b4513"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Road Traffic Accident Records </span>
                                    <small class="pull-right">@Model.RTA_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.RTA_Count%; background-color:#ff6347"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Civil MT Records </span>
                                    <small class="pull-right">@Model.CMT_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.CMT_Count%; background-color:#bdb76b"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Road Traffic Irregularities Records </span>
                                    <small class="pull-right">@Model.RTI_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.RTI_Count%; background-color:#000000"></div>
                                </div>
                                <div class="clearfix">
                                    <span class="pull-left">Delegation Protocol Records </span>
                                    <small class="pull-right">@Model.DP_Count</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar" style="width: @Model.DP_Count%; background-color:#4169e1"></div>
                                </div>*@
                            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>

            <!-- /.box -->
        </div>
        <!-- /.col (RIGHT) -->
    </div>
    <!-- /.row -->
</section>

<script src="~/Scripts/raphael.min.js"></script>
<script src="~/Scripts/morris.min.js"></script>
<script>
    @*var donut = new Morris.Donut({
        element: 'sales-chart',
        resize: true,
        colors: ["#ff0000", "#f4a460", "#6a5acd", "#54a460", "#008b8b", "#c0c0c0", "#8b4513", "#ff6347", "#bdb76b", "#000000","#4169e1"],
        data: [
            { label: "Criminal Records", value: @Model.CriminalRecord_Count },
            { label: "Legal Assistance Records", value: @Model.LA_Count },
            { label: "Private Fire Arm Records", value: @Model.PFA_Count },
            { label: "Pets Records", value: @Model.Pets_Count },
            { label: "Naval Driving Permits Records", value: @Model.NDP_Count },
            { label: "Verification of Houses Records", value: @Model.VOH_Count },
            { label: "Warrant of Arrest Records", value: @Model.WOA_Count },
            { label: "Road Traffic Accident Records", value: @Model.RTA_Count },
            { label: "Civil MT Vehicles Records", value: @Model.CMT_Count },
            { label: "Road Traffic Irregularities Records", value: @Model.RTI_Count },
            { label: "Delegation Protocol Records", value: @Model.DP_Count }
        ],
        hideHover: 'auto'
    });*@

</script>
<script>
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    var radius = canvas.height / 2;
    ctx.translate(radius, radius);
    radius = radius * 0.90
    setInterval(drawClock, 1000);

    function drawClock() {
        drawFace(ctx, radius);
        drawNumbers(ctx, radius);
        drawTime(ctx, radius);
    }

    function drawFace(ctx, radius) {
        var grad;
        ctx.beginPath();
        ctx.arc(0, 0, radius, 0, 2 * Math.PI);
        ctx.fillStyle = 'white';
        ctx.fill();
        grad = ctx.createRadialGradient(0, 0, radius * 0.95, 0, 0, radius * 1.05);
        grad.addColorStop(0, '#333');
        grad.addColorStop(0.5, 'white');
        grad.addColorStop(1, '#333');
        ctx.strokeStyle = grad;
        ctx.lineWidth = radius * 0.1;
        ctx.stroke();
        ctx.beginPath();
        ctx.arc(0, 0, radius * 0.1, 0, 2 * Math.PI);
        ctx.fillStyle = '#333';
        ctx.fill();
    }

    function drawNumbers(ctx, radius) {
        var ang;
        var num;
        ctx.font = radius * 0.15 + "px arial";
        ctx.textBaseline = "middle";
        ctx.textAlign = "center";
        for (num = 1; num < 13; num++) {
            ang = num * Math.PI / 6;
            ctx.rotate(ang);
            ctx.translate(0, -radius * 0.85);
            ctx.rotate(-ang);
            ctx.fillText(num.toString(), 0, 0);
            ctx.rotate(ang);
            ctx.translate(0, radius * 0.85);
            ctx.rotate(-ang);
        }
    }

    function drawTime(ctx, radius) {
        var now = new Date();
        var hour = now.getHours();
        var minute = now.getMinutes();
        var second = now.getSeconds();
        //hour
        hour = hour % 12;
        hour = (hour * Math.PI / 6) +
            (minute * Math.PI / (6 * 60)) +
            (second * Math.PI / (360 * 60));
        drawHand(ctx, hour, radius * 0.5, radius * 0.07);
        //minute
        minute = (minute * Math.PI / 30) + (second * Math.PI / (30 * 60));
        drawHand(ctx, minute, radius * 0.8, radius * 0.07);
        // second
        second = (second * Math.PI / 30);
        drawHand(ctx, second, radius * 0.9, radius * 0.02);
    }

    function drawHand(ctx, pos, length, width) {
        ctx.beginPath();
        ctx.lineWidth = width;
        ctx.lineCap = "round";
        ctx.moveTo(0, 0);
        ctx.rotate(pos);
        ctx.lineTo(0, -length);
        ctx.stroke();
        ctx.rotate(-pos);
    }
</script>
<script>
    $(".date").datepicker.formatDate('yy/mm/dd', new Date());
</script>
<script type="text/javascript">

    function preventBack() {
        window.history.forward();
    }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };

    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>