@model ClassLibrary.Models.ExpandedUserDTO

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<style>
    #diaglog {
        border: dotted;
    }
</style>
<section class="content-header">
    <h1>
        USER MODULE
        <small>Detail</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Edit User</h3>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>User Name</label>
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="diaglog">
                                <h4>Password Policy</h4>
                                . Password must be at least 6 Characters.<br />
                                . Password must have at least 1 uppercase (A-Z).<br />
                                . Password must have at least 1 lowercase (a-z).<br />
                                . Password must have at least 1 digit (0-9).<br />
                                . Password must have at least 1 non alphanumeric character.
                            </div>
                        </div>
                    </div>
                </div>
                        <!-- /.card-body -->
                        <div class="box-footer">
                            <a class="btn btn-default" href="@Url.Action("Index", "Admin")"><i class="fa fa-chevron-circle-left fa-lg"></i> Back</a>
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
            }
                </div>

    </div>
</section>