@model IEnumerable<ClassLibrary.Models.M_PMS>
@using CMMS.Web.Helper
@{
    ViewBag.Title = "Index";
}

<script>
    var permissions;
        $(document).ready(function () {

            permissions = @Html.Raw(Json.Encode(((SessionHelper)Session[SessionKeys.SessionHelperInstance]).CurrentRolePermissions));
            console.log(permissions);
            if (permissions.filter(obj => obj.PermissionId == "PMSGen").length > 0) {
                $("#addPMS").attr('disabled', false);
            } else {
                $("#addPMS").attr('disabled', true);

            }
            if (permissions.filter(obj => obj.PermissionId == "PMSEdit").length > 0) {
                $("#editPMS").attr('disabled', false);
            } else {
                $("#editPMS").attr('disabled', true);
            }
            if (permissions.filter(obj => obj.PermissionId == "PMSDel").length > 0) {
                $("#delPMS").attr('disabled', false);
            } else {
                $("#delPMS").attr('disabled', true);
            }
    });

</script>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4>PMS Record</h4>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">

    <div class="row">
        <!-- left column -->
        <div class="col-md-12">

            <!-- jquery validation -->
            <div class="box">
                <div class="box-header">
                    <a class="btn btn-success" id="addPMS" data-modal='' href="@Url.Action("Create","PMS")"><i class="fa fa-plus"></i> Add New PMS</a>

                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>PMS No</th>
                                <th>Description</th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.PMS_NO</td>
                                    <td> @item.PMS_DESC</td>

                                    @{
                                        if (this.User.IsInRole("Admin"))
                                        {
                                            <td>
                                                <a id="editPMS" class="btn-primary btn-sm" data-modal='' href="@Url.Action("Edit", "PMS", new { id = item.PMS_NO })"><i class="fa fa-pencil"></i></a> |
                                                <a id="detailPMS" class="btn-info btn-sm" data-modal='' href="@Url.Action("Details", "PMS", new { id = item.PMS_NO }) "><i class="fa fa-eye"></i></a> |
                                                <a id="delPMS" class="btn-danger btn-sm" data-modal='' href="@Url.Action("Delete", "PMS", new { id = item.PMS_NO })"><i class="fa fa-trash"></i></a>

                                            </td>
 }
                                        else
                                        {
                                            <td>
                                                <a class="btn-info btn-sm" data-modal='' href="@Url.Action("Details", "PartType", new { id = item.PMS_NO }) "><i class="fa fa-eye"></i></a> |
                                            </td>
 }

                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="box-footer">

                </div>

            </div>
            <!-- /.card -->

        </div>
        <!--/.col (left) -->
        <!--/.col (right) -->
    </div>
    <!-- /.row -->

</section>

<script>

    $(function () {
        $('#example1').DataTable()
    });
</script>


<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section scripts{
    @Scripts.Render("~/Scripts/common/modalPopup.js")
}
