@model ClassLibrary.ViewModels.MopViewModels
@using CMMS.Web.Helper
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<link href="~/Content/morris.css" rel="stylesheet" />
<link href="~/Content/Digtalstyle.css" rel="stylesheet" />
<script src="~/Content/Digitalscript.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<link href="~/Scripts/themes/default/style.min.css" rel="stylesheet" />
<script src="~/Scripts/jstree.min.js"></script>
<link href="~/Content/select.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/dataTables.select.min.js"></script>

<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>

<style>
    .modal-dialog {
        width: 80% !important;
    }

    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    a {
        cursor: pointer;
    }
    td {
        font-size: 12px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 4px 4px !important;
    }
</style>


@*<script>
        $('#gridMop').DataTable();
    </script>*@


<script>
    var table;
    var editTable;
    var mopItemTable;
    var permissions;
    var siteId;
    $(document).ready(function () {

      permissions = @Html.Raw(Json.Encode(((SessionHelper)Session[SessionKeys.SessionHelperInstance]).CurrentRolePermissions));
         siteId = @Html.Raw(Json.Encode(((SessionHelper)Session[SessionKeys.SessionHelperInstance]).SelectedSiteId));
        $("#M_MOP_ITEMS_SiteId").val(siteId).attr('disabled', true, "style", "pointer-events: '';")

        if (permissions.filter(obj => obj.PermissionId == "TMLAdd").length > 0) {
            $("#addNewMOPItem").attr('disabled', false);
        } else {
            $("#addNewMOPItem").attr('disabled', true);
        }


        $("#gridMopItemsDiv").hide();
        $("#Proceed").click(function () {

           $("#gridMopItemsDiv").show();

           //$("#M_MOP_ITEMS_PMS_No").val($('#PMS_No').val());
           //$("#M_MOP_ITEMS_MOP_No").val($('#M_MOP_ITEMS_MOP_No').val());
        });

        $("#M_MOP_ITEMS_MOP_No").attr('disabled', true);
        $("#AddMOP_No").attr('disabled', true);
        $("#Proceed").attr('disabled', true);

         $("#PMS_No").change(function () {
            var PMS_No = $(this).val();

            $.ajax({
                type: "post",
                //   url: "/RoadTrafficAccidentModule/GetVehicleMakeList?VehicleTypeID=" + VehicleTypeID,
                url: '@Url.Action("GetMOP", "MOP")?PMS_No=' + PMS_No,
                contentType: "html",
                success: function (response) {
                    $("#M_MOP_ITEMS_MOP_No").removeAttr('disabled');
                    $("#Proceed").removeAttr('disabled');
                    $("#M_MOP_ITEMS_MOP_No").empty();
                    $("#M_MOP_ITEMS_MOP_No").append(response);
                },
            });
        });



         $("#AddPMS_No").change(function () {
            var PMS_No = $(this).val();

            $.ajax({
                type: "post",
                //   url: "/RoadTrafficAccidentModule/GetVehicleMakeList?VehicleTypeID=" + VehicleTypeID,
                url: '@Url.Action("GetMOP", "MOP")?PMS_No=' + PMS_No,
                contentType: "html",
                success: function (response) {
                    $("#AddMOP_No").removeAttr('disabled');
                    $("#AddMOP_No").empty();
                    $("#AddMOP_No").append(response);
                },
            });
        });


         table = $('#AddMOPItemTable').DataTable({
             'columnDefs': [{
                 targets: 0,
                 data: null,
                 defaultContent: '',
                 orderable: false,
                 className: 'select-checkbox'
             }],
             select: {
                 style: 'os',
                 selector: 'td:first-child'
             },
             order: [[1, 'asc']]
         });

         $('#AddMOPItemTable tbody').on("click", '.select-checkbox', function () {
             var tblData = table.rows($(this).closest('tr')).data();
             var selectedData;
             $.each(tblData, function (i, val) {
                 selectedData = tblData[i];
             });
             console.log(selectedData);
             var partNo = selectedData[1];
             console.log(partNo);
         //    var cageCode = selectedData[4];
             $('#M_MOP_ITEMS_Part_No').val(partNo);
          //   $('#C_Site_Config_CageCode').val(cageCode);

         });


        editTable = $('#EditMOPItemTable').DataTable({
             'columnDefs': [{
                 targets: 0,
                 data: null,
                 defaultContent: '',
                 orderable: false,
                 className: 'select-checkbox'
             }],
             select: {
                 style: 'os',
                 selector: 'td:first-child'
             },
             order: [[1, 'asc']]
         });

         $('#EditMOPItemTable tbody').on("click", '.select-checkbox', function () {
             var tblData = editTable.rows($(this).closest('tr')).data();
             var selectedData;
             $.each(tblData, function (i, val) {
                 selectedData = tblData[i];
             });
             console.log(selectedData);
             var partNo = selectedData[1];

             $('#editNewPartNo').val(partNo);
         });
    });


    function GetMaterialListData() {
          var siteId = $("#M_MOP_ITEMS_SiteId").val();
          var pmsNo = $('#PMS_No').val();
          var mopNo = $('#M_MOP_ITEMS_MOP_No').val();

        $("#AddSiteId").val(siteId);
        $("#AddPMSNo").val(pmsNo);
        $("#AddMOPNo").val(mopNo);

        $.ajax({
                cache: 'false',
                type: "Post",

            url: '@Url.Action("TaskMaterialListData", "MOP")',

            dataType: 'json',
            data: {
                siteId: siteId,
                pmsNo: pmsNo,
                mopNo: mopNo
            },
            success: OnSuccess,
            failure: function (response) {
                swal({
                    title: "Oops...", text: "No Data Found!", type: "error",
                });
            },
            error: function (response) {
                swal({
                    title: "Oops...", text: "No Data Found!", type: "error",
                });
            },
        });
    };

    function OnSuccess(response) {
            $("#addMOPItem").modal('hide'); $("#editMOPItem").modal('hide'); $("#delMOPItem").modal('hide');

        if (response.model != null) {
            swal({
                title: response.msg, type: "success", timer: 1500, showConfirmButton: false,
            });
            $("#gridMopItems").DataTable().destroy();
            mopItemTable = $("#gridMopItems").DataTable(
                {
                    scrollX: true,
                    bLengthChange: true,
                    lengthMenu: [[5, 10, -1], [5, 10, 15, "All"]],
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    data: response.model,

                    columns: [
                        { 'data': 'MOP_ItemsId', "visible": true },
                        { 'data': 'SiteId' },
                        { 'data': 'PMS_No' },
                        { 'data': 'MOP_No' },
                        { 'data': 'SR_Qty' },
                        { 'data': 'Part_No' },


                        {
                            'data': function (data, type, row, meta) {

                                var actions = '';

                                if (permissions.filter(obj => obj.PermissionId == "TMLEdit").length > 0) {
                                    actions = '<a data-toggle="modal" data-target="#editMOPItem" id="editNewMOPItem"  class="btn btn-primary btn-xs select">' + 'Edit' + '</a>';
                                }
                                else {
                                    actions = '<a data-toggle="modal" data-target="#editMOPItem" id="editNewMOPItem"  class="btn btn-primary btn-xs select disabled">' + 'Edit' + '</a>';
                                }

                                actions = actions + " " + '|' + " ";

                                if (permissions.filter(obj => obj.PermissionId == "TMLDel").length > 0) {
                                    actions = actions + '<a data-toggle="modal"  data-target="#delMOPItem" id="delNewMOPItem" class="btn btn-danger btn-xs select">' + 'Delete' + '</a>';
                                }
                                else {
                                    actions = actions + '<a data-toggle="modal"  data-target="#delMOPItem" id="delNewMOPItem" class="btn btn-danger btn-xs select disabled">' + 'Delete' + '</a>';
                                }
                                return actions;


                                //+ '|' +


                            }
                        },
                    ]
                });

            //if (!$.trim(response)) {
            //    swal({
            //        title: "Oops...", text: "No Data Found!", type: "error",
            //    });
            //}
            //else {
            //    swal({
            //        title: "¡Success!", type: "success", timer: 1500, showConfirmButton: false,
            //    });
            //}
        }
        else {
            $("#gridMopItems").DataTable().destroy();
            $('#gridMopItems').DataTable({ scrollX: true, }).clear().draw();
        }


         $('#gridMopItems tbody').on("click", '.select', function () {
            var tblData = mopItemTable.rows($(this).closest('tr')).data();
            console.log(tblData);

            var mopItemId = $(this).closest('tr').find("td:eq(0)").text();
            var siteId = $(this).closest('tr').find("td:eq(1)").text();
            var pmsNo = $(this).closest('tr').find("td:eq(2)").text();
            var mopNo = $(this).closest('tr').find("td:eq(3)").text();
            var srQty = $(this).closest('tr').find("td:eq(4)").text();
            var partNo = $(this).closest('tr').find("td:eq(5)").text();

            $('#mopItemId').val(mopItemId);
            $('#pmsNo').val(pmsNo);
            $('#mopNo').val(mopNo);
            $('#partNo').val(partNo);

            //forEdit
            $('#M_MOP_ItemsModel_SiteId').val(siteId);
            $('#M_MOP_ItemsModel_PMS_No').val(pmsNo);
            $('#M_MOP_ItemsModel_MOP_No').val(mopNo);
            $('#partNo').val(partNo);
            $('#M_MOP_ItemsModel_SR_Qty').val(srQty);

          //  GetSelectedData();
        });
    };
      function AddMOPItemData() {
        $.ajax({
            cache: 'false',
            type: "Post",
            url: '@Url.Action("AddMOPItem", "MOP")',
            dataType: 'json',
            data: {
                //main
                siteId : $("#M_MOP_ITEMS_SiteId").val(),
                pmsNo : $("#PMS_No").val(),
                mopNo : $("#M_MOP_ITEMS_MOP_No").val(),
                SiteId: $("#AddSiteId").val(),
                PMS_No: $("#AddPMSNo").val(),
                MOP_No: $("#AddMOPNo").val(),
                SR_Qty: $("#M_MOP_ITEMS_SR_Qty").val(),
                Part_No: $("#M_MOP_ITEMS_Part_No").val(),
            },
            success: OnSuccess,
            failure: function (response) {
                swal({    title: "ERROR",  text: "Their is something went wrong!!!",   type: "error",  });
            },
            error: function (response) {
                var finalError = ''
                for (i = 0; i < response.responseJSON.length; i++) {
                    finalError += response.responseJSON[i].key + " : " + response.responseJSON[i].errors[0] + "\n";
                }

                swal({ title: "ERROR", text: finalError, type: "error", });

            }
        });
    };
      function EditMOPItemData() {
        $.ajax({
            cache: 'false',
            type: "Post",
            url: '@Url.Action("EditMOPItem", "MOP")',
            dataType: 'json',
            data: {
                //main
                siteId: $("#M_MOP_ITEMS_SiteId").val(),
                pmsNo : $("#PMS_No").val(),
                mopNo : $('#M_MOP_ITEMS_MOP_No').val(),

                MOP_ItemsId: $('#mopItemId').val(),
                SiteId: $("#M_MOP_ItemsModel_SiteId").val(),
                PMS_No: $("#M_MOP_ItemsModel_PMS_No").val(),
                MOP_No: $("#M_MOP_ItemsModel_MOP_No").val(),
                SR_Qty: $("#M_MOP_ItemsModel_SR_Qty").val(),
                Part_No: $('#partNo').val(),
                NewSelectedPart_No: $("#editNewPartNo").val(),
            },
            success: OnSuccess,
            failure: function (response) {
                swal({   title: "ERROR",  text: "Their is something went wrong!!!",  type: "error", });
            },
            error: function (response) {
                var finalError = ''
                for (i = 0; i < response.responseJSON.length; i++) {
                    finalError += response.responseJSON[i].key + " : " + response.responseJSON[i].errors[0] + "\n";
                }

                swal({ title: "ERROR", text: finalError, type: "error", });
            }
        });
    };
      function DeleteMOPItemData() {

        var mopItemId = $('#mopItemId').val();
        $.ajax({
            cache: 'false',
            type: "Post",
            url: '@Url.Action("DeleteMOPItem", "MOP")',
            dataType: 'json',
            data: {
                siteId: $("#M_MOP_ITEMS_SiteId").val(),
                pmsNo: $("#PMS_No").val(),
                mopNo: $("#M_MOP_ITEMS_MOP_No").val(),
                mopItemId: mopItemId
            },
            success:  OnSuccess,
            failure: function (response) {
                swal({  title: "ERROR", text: "Their is something went wrong!!!", type: "error",  });
            },
            error: function (response) {
                swal({      title: "ERROR",    text: "Their is something went wrong!!!",     type: "error",    });
            },
        });
    };

</script>

<section class="content-header">
    <h1>
        Task Material List
    </h1>

</section>


<section class="content" style="min-height:0px !important">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row" style="margin-bottom: 0.1rem">
                   
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(model => model.M_MOP_ITEMS.SiteId, new SelectList(Model._tbl_Unit, "Id", "Name"), "Select Site", new { @class = "form-control", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.M_MOP_ITEMS.SiteId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(model => model.M_MOP_ITEMS.PMS_No, new SelectList(Model._M_PMS, "PMS_NO", "PMS_NO"), "Select", new { @class = "form-control", @id = "PMS_No", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.M_MOP_ITEMS.PMS_No, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.DropDownListFor(model => model.M_MOP_ITEMS.MOP_No, new SelectList(""), "", new { @class = "form-control", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.M_MOP_ITEMS.MOP_No, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">

                                        <input type="button" id="Proceed" onclick="GetMaterialListData()" value="Proceed" class="btn btn-primary" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- /.row (main row) -->
    </div>
</section>





<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="container-fluid">

      
        <div class="row">
            <div class="col-md-12" id="gridMopItemsDiv">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">MOP Items Detail</h3>


                        <div class="card-tools">
                           <input data-toggle="modal" data-target="#addMOPItem" id="addNewMOPItem" type="button" value="+ Add MOP Item" class="btn btn-success btn-sm" />
                

                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>

                        </div>
                    </div>

                    <div class="card-body">
                        <table id="gridMopItems" class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>MOP Item</th>
                                    <th>Site</th>
                                    <th>PMS No</th>
                                    <th>MOP NO</th>
                                    <th>SR Qty</th>
                                    <th>PartNo</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>



        </div>
        </div>
</section>

<input type="hidden" name="mopItemId" id="mopItemId" />
<input type="hidden" name="pmsNo" id="pmsNo" />
<input type="hidden" name="mopNo" id="mopNo" />
<input type="hidden" name="partNo" id="partNo" />
<input type="hidden" name="editNewPartNo" id="editNewPartNo" />
@Html.HiddenFor(model => model.M_MOP_ITEMS.Part_No)

<div id='addMOPItem' class='modal fade'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'>

                <div class="modal-header">
                    <h4 class="modal-title">Add</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    @*@Html.HiddenFor(model => model.C_Site_Config.Part_No)
                        @Html.HiddenFor(model => model.C_Site_Config.CageCode)*@
                    <div class="card card-default">
                       
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body" id="InputFields">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Site Id</label>
                                        @Html.EditorFor(model => model.M_MOP_ITEMS.SiteId, new { htmlAttributes = new { @class = "form-control", @id = "AddSiteId", @readonly = true } })
                                        @Html.ValidationMessageFor(model => model.M_MOP_ITEMS.SiteId, "", new { @class = "text-danger" })


                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>PMS No.</label>
                                        @Html.EditorFor(model => model.M_MOP_ITEMS.PMS_No, new { htmlAttributes = new { @class = "form-control", @id = "AddPMSNo", @readonly = true } })
                                        @Html.ValidationMessageFor(model => model.M_MOP_ITEMS.PMS_No, "", new { @class = "text-danger" })


                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>MOP No.</label>

                                        @Html.EditorFor(model => model.M_MOP_ITEMS.MOP_No, new { htmlAttributes = new { @class = "form-control", @id = "AddMOPNo", @readonly = true } })
                                        @Html.ValidationMessageFor(model => model.M_MOP_ITEMS.MOP_No, "", new { @class = "text-danger" })


                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>SR Qty</label>

                                        @Html.EditorFor(model => model.M_MOP_ITEMS.SR_Qty, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.M_MOP_ITEMS.SR_Qty, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>

                            <br />
                            <table id="AddMOPItemTable" class="table table-bordered table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Part No</th>
                                        <th>Part Name</th>
                                        <th>Part Type</th>
                                        <th>Cage Code</th>


                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var item in Model.tbl_Parts_list)
                                    {
                                        <tr>
                                            <td></td>
                                            <td> @item.Part_No</td>
                                            <td> @item.PART_NAME</td>
                                            <td> @item.PartTypeID</td>
                                            <td> @item.CageCode</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>





                        </div>

                    </div>

                    <div class="card-footer" id="footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="button" onclick="AddMOPItemData()" value="Submit" class="btn btn-primary float-right" />
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>

<div id='editMOPItem' class='modal fade'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'>

                <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    @*@Html.HiddenFor(model => model.C_Site_Config.Part_No)
                        @Html.HiddenFor(model => model.C_Site_Config.CageCode)*@
                    <div class="card card-default">
               

                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body" id="InputFields">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Site Id</label>

                                        @Html.EditorFor(model => model.M_MOP_ItemsModel.SiteId, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                        @Html.ValidationMessageFor(model => model.M_MOP_ItemsModel.SiteId, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>PMS No.</label>

                                        @Html.EditorFor(model => model.M_MOP_ItemsModel.PMS_No, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                        @Html.ValidationMessageFor(model => model.M_MOP_ItemsModel.PMS_No, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>MOP No.</label>

                                        @Html.EditorFor(model => model.M_MOP_ItemsModel.MOP_No, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                        @Html.ValidationMessageFor(model => model.M_MOP_ItemsModel.MOP_No, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>SR Qty</label>

                                        @Html.EditorFor(model => model.M_MOP_ItemsModel.SR_Qty, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.M_MOP_ItemsModel.SR_Qty, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                            <br />
                            <table id="EditMOPItemTable" class="table table-bordered table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Part No</th>
                                        <th>Part Name</th>
                                        <th>Part Type</th>
                                        <th>Cage Code</th>

                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var item in Model.tbl_Parts_list)
                                    {
                                        <tr>
                                            <td></td>
                                            <td> @item.Part_No</td>
                                            <td> @item.PART_NAME</td>
                                            <td> @item.PartTypeID</td>
                                            <td> @item.CageCode</td>

                                        </tr>
                                    }

                                </tbody>
                            </table>


                        </div>

                    </div>

                    <div class="card-footer" id="footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="button" onclick="EditMOPItemData()" value="Submit" class="btn btn-primary float-right" />
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>

<div id='delMOPItem' class='modal fade'>
    <div class="modal-dialog modal-lg" style="width: 40% !important;">
        <div class="modal-content">
            <div id='myModalContent'>

                <div class="modal-header">
                    <h4 class="modal-title"  style="color:red"><b>Confirm Delete</b></h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    <h3>Are you sure you want to delete this?</h3>
                </div>
                <div class="modal-footer">
                    <div class="form-actions no-color">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" onclick="DeleteMOPItemData()" value="Delete" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/Common/ModalPopup.js")
}



