@model ILS.UserManagement.ViewModels.RolesViewModel
<link href="~/Scripts/themes/default/style.min.css" rel="stylesheet" />
<script src="~/Scripts/jstree.min.js"></script>
<style>
    .modal-dialog {
        width: 50% !important;
    }

    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
</style>

<script>
    $(document).ready(function () {
        $("#btn1N").click(function () {

            $('li').removeClass('active');
            $('.nav-tabs li:nth-child(2)').addClass('active');
        });
        $("#btn1P").click(function () {
            $('li').removeClass('active');
            $('.nav-tabs li:nth-child(1)').addClass('active');

        });
        $("#btn2N").click(function () {

            $('li').removeClass('active');
            $('.nav-tabs li:nth-child(3)').addClass('active');

        });
        $("#btn2P").click(function () {
            $('li').removeClass('active');
            $('.nav-tabs li:nth-child(2)').addClass('active');

        });
    });
</script>

<div class="modal-header">
    <h4 class="modal-title">Create new role</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@using (Html.BeginForm("Create", "Administration", FormMethod.Post, new { @id = "myForm" }))
{
    <div class="modal-body">

        <div class="row">


            <div class="col-md-12">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Roles" data-toggle="tab">Role name</a></li>
                        <li><a href="#Permissions" data-toggle="tab">Permissions</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="Roles" class="tab-pane active">
                            <div class="form-group">
                                <label>Role Id<span style="color:red">*</span></label>
                                @Html.EditorFor(model => model.tbl_Role.RoleId, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                @Html.ValidationMessageFor(model => model.tbl_Role.RoleId, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                <label>Role name<span style="color:red">*</span></label>
                                @Html.EditorFor(model => model.tbl_Role.Name, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                @Html.ValidationMessageFor(model => model.tbl_Role.Name, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div id="Permissions" class="tab-pane">
                            <div id="jstree">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer justify-content-between">
        <input type="hidden" name="selectedItems" id="selectedItems" />
        <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
        <button type="submit" onclick="GetSelectedData()" class="btn btn-primary pull-right"><i class="fa fa-save"></i>Save</button>

    </div>
}
<script>
    $("#jstree").jstree({
        "core": {
            "themes": {
                "variant": "large"
            },
            "data": JSON.parse(@Html.Raw(Json.Encode(Model.PermissionsList)))
        },
        "checkbox": {
            "keep_selected_style": false
        },
        "plugins": ["wholerow", "checkbox"],
    });

    function GetSelectedData() { 
           var selectedData = [];
           var selectedIndexes;
           selectedIndexes = $("#jstree").jstree("get_selected", true);
           jQuery.each(selectedIndexes, function (index, value) {
               selectedData.push(selectedIndexes[index]);
           });

           console.log("Hello");
           selectedData = JSON.stringify(selectedData);
               console.log(selectedData);
               $('#selectedItems').val(selectedData);
               console.log(selectedData);
           
    };
</script>
