@model ILS.UserManagement.ViewModels.UserRoleViewModel
@using CMMS.Web.Helper
@{
    ViewBag.Title = "ViewARoles";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";

}
<link href="~/Content/select.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/dataTables.select.min.js"></script>
<script>
    var permissions;
        $(document).ready(function () {

        permissions = @Html.Raw(Json.Encode(((SessionHelper)Session[SessionKeys.SessionHelperInstance]).RolePermissions));

        if (permissions.filter(obj => obj.PermissionId == "UserAdd").length > 0) {
            $("#addUser").attr('disabled', false);
        } else {
            $("#addUser").attr('disabled', true);
            }
            if (permissions.filter(obj => obj.PermissionId == "UserEdit").length > 0) {
                $("#editUser").attr('disabled', false);
            } else {
                $("#editUser").attr('disabled', true);
            }
            if (permissions.filter(obj => obj.PermissionId == "UserDel").length > 0) {
                $("#delUser").attr('disabled', false);
            } else {
                $("#delUser").attr('disabled', true);
            }
    });

</script>
<section class="content-header">
 
    <a class="btn btn-default" href="@Url.Action("UserIndex", "Administration")"><i class="fa fa-chevron-circle-left fa-lg"></i> Back </a>
    <a class="btn btn-success" id="addUser" data-modal='' href="@Url.Action("CreateUser", "Administration")"><i class="fa fa-plus"></i> Create new user</a>

</section>

<section class="content">

    <div class="row">
        <section class="col-lg-9 connectedSortable ui-sortable">
            <!-- /.card -->
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title">Application Roles Information</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>

                                <th>Actions</th>
                                <th>User Name</th>

                                @*<th>Operations</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.tbl_User_list)
                            {
                                <tr>

                                    <td>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <button type="button" class="btn-sm btn-primary dropdown-toggle dropdown-hover dropdown-icon" data-toggle="dropdown">
                                                    <i class="fa fa-cog"></i> Actions
                                                    <span class="caret ng-tns-c275-7"></span>
                                                </button>
                                                <span class="sr-only">Toggle Dropdown</span>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item btn primary" id="editUser" data-modal='' href="@Url.Action("EditUser", "Administration", new { id = item.UserId })"><i class="fa fa-pencil fa-lg"></i> Edit</a><br />
                                                    <a class="dropdown-item btn danger" id="delUser" data-modal='' href="@Url.Action("DeleteUser", "Administration", new { id = item.UserId })"><i class="fa fa-trash fa-lg"></i> Delete</a>
                                                </div>
                                            </div>
                                            <!-- /btn-group -->

                                        </div>
                                    </td>
                                    <td> @item.UserId</td>
                                    @*<td>
                                        @if (item.RoleName.ToLower() != "administrator")
                                        {
                                            @Html.ActionLink("Delete", "DeleteUserRole",
                                           new { RoleName = item.RoleName },
                                           new
                                           {
                                               onclick =
                                           "return confirm('Are you sure you wish to delete this role?');"
                                           })
                                        }
                                    </td>*@
                                    @*<td>
                                    </td>*@


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            </section>
    </div>
</section>

<script>
    $(function () {
        $('#example1').DataTable()
    });
</script>

<div id='myModal' class='modal fade'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'>

            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/Common/ModalPopup.js")
}