@model ClassLibrary.ViewModels.ConfigViewModel
@using CMMS.Web.Helper

<link href="~/Content/morris.css" rel="stylesheet" />
<link href="~/Content/Digtalstyle.css" rel="stylesheet" />

<link href="~/Scripts/themes/default/style.min.css" rel="stylesheet" />
<link href="~/Content/select.dataTables.min.css" rel="stylesheet" />

<script src="~/Content/Digitalscript.js"></script>
<script src="~/Scripts/jstree.min.js"></script>
<script src="~/Scripts/dataTables.select.min.js"></script>

<style>
    .modal-dialog {
        width: 80% !important;
    }

    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .selected td {
        background-color: #3c8dbc !important;
    }


    .button-color {
        background-color: #a9dae3 !important;
        font-weight: bold;
        color: #444 !important;
    }

    .btn {
        padding: 0rem !important;
        padding-right: .5rem !important;
        padding-left: .5rem !important;
    }
</style>

<script>

    var table;
    var editTable;
    var permissions;

    $(document).ready(function () {

        permissions = @Html.Raw(Json.Encode(((SessionHelper)Session[SessionKeys.SessionHelperInstance]).CurrentRolePermissions));


        $("#addFooter").hide();
        $("#editFooter").hide();
        $("#AddChild").attr('disabled', true);
        $("#editChild").attr('disabled', true);
        $("#delChild").attr('disabled', true);

        $("#ConfigEquipment").show();


        $("#AddChild").click(function () {

            $('#C_Site_Config_ESWBS').val("");
            $('#C_Site_Config_Nomanclature').val("");
            Qty: $('#C_Site_Config_Qty').val("");
            $('#C_Site_Config_PMS_No').val("");
            $('#C_Site_Config_SMR_Code').val("");
            table.$('tr.selected').removeClass('selected');
            $("#addFooter").show();
            $("#editFooter").hide();
            $("#C_Site_Config_ESWBS").attr("readonly", false);

        });

        $("#editChild").click(function () {
            table.$('tr.selected').removeClass('selected');
            $("#editFooter").show();
            $("#addFooter").hide();
            $("#C_Site_Config_ESWBS").attr("readonly", true);
        });

        GetConfig();

           table=  $('#example1').DataTable(
            {
                "bServerSide": true,
                "processing": true,
               // "searchable": true,
                "scrollX": true,
                "paging": true,
                "filter": true,
                "destroy": true,
                "order": [[1, 'asc']],
                "lengthMenu": [[10, 25, 50,100,-1], [10, 25,50,100, "All"]],

                ajax: {
                      //cache: 'false',
                    type: 'POST',
                    url: '@Url.Action("LoadData")',

                    dataType: 'json',
                    dataSrc: 'data',
                   // contentType: "application/json; charset=utf-8",

                },

                columns: [
                    { 'data': "<td></td>" },
                    { 'data': 'PartId', "name": "PartId", },
                    { 'data': 'Part_No', "name": "Part_No", },
                    { 'data': 'PART_NAME', "name": "PART_NAME", },
                    { 'data': 'PartTypeID', "name": "PartTypeID", },
                    { 'data': 'CageCode', "name": "CageCode", },
                    { 'data': 'CageId', "name": "CageId", },
                   ],

                   'columnDefs': [
                       {
                       targets: 0,
                       data: null,
                       defaultContent: '',
                       orderable: false,
                       className: 'select-checkbox'
                       },
                       {
                           "targets": [1],
                           "visible": false,
                       },
                       {
                           "targets": [6],
                           "visible": false,
                       },
                   ],
                   select: {
                       style: 'os',
                       selector: 'td:first-child'
                   },
                   order: [[5, 'asc']],
            });

        $('#example1 tbody').on("click", '.select-checkbox', function () {
            var tblData = table.rows($(this).closest('tr')).data();
            var selectedData;
            $.each(tblData, function (i, val) {
                selectedData = tblData[i];
            });

            var partId = selectedData.PartId;

            var cageId = selectedData.CageId;

            $('#C_Site_Config_PartId').val(partId);
            $('#C_Site_Config_CageId').val(cageId);

        });
    });

    function GetSelectedConfiguration() {
        var eswbs = $('#Eswbs').val();
        var siteId = $('#C_Site_Config_SiteId').val();
        $.ajax({
                cache: 'false',
                type: "Post",
                // contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetSelectedConfigData", "Config")',

            dataType: 'json',  // add this line
            data: {
                eswbs: eswbs,
                siteId: siteId
            },
            success: function (data) {

                if (data.type == "success") {

                    if  (permissions.filter(obj => obj.PermissionId == "ConfigAdd").length > 0) {
                        $("#AddChild").removeAttr('disabled');
                    }


                    if (permissions.filter(obj => obj.PermissionId == "ConfigEdit").length > 0) {
                            $("#editChild").removeAttr('disabled');
                    }

                    if (permissions.filter(obj => obj.PermissionId == "ConfigDel").length > 0) {
                            $("#delChild").removeAttr('disabled');
                    }



                    // eswbs Detail

                    $("#tbEswbs").text(data.vm.C_SiteConfigModel.ESWBS);
                    $("#tbPEswbs").val(data.vm.C_SiteConfigModel.PESWBS);
                    $("#tbEswbsName").text(data.vm.C_SiteConfigModel.Nomanclature);
                    $("#tbSmr").val(data.vm.C_SiteConfigModel.SMR_Code);
                    $("#tbPms").text(data.vm.C_SiteConfigModel.PMS_No);
                    $("#tbQpa").text(data.vm.C_SiteConfigModel.Qty);
                    $("#tbPartId").val(data.vm.C_SiteConfigModel.PartId);
                    $("#tbCageId").val(data.vm.C_SiteConfigModel.CageId);
                    //Parts Details

                    if (data.vm.PartsModel) {
                        $("#WizardPicturePreview").attr('src', data.vm.PartsModel.base64Pic);

                        $("#tbPartNo").text(data.vm.PartsModel.Part_No);
                        $("#tbPartName").text(data.vm.PartsModel.PART_NAME);
                        $("#tbCage").text(data.vm.PartsModel.CageCode);
                    }

                    if (data.vm.CageModel)
                    {
                        $("#tbManufacturer").text(data.vm.CageModel.CageName);
                    }

                    var x = document.getElementById("divDetails").style.display = "block";

                }
                else
                {
                    swal({ title: "ERROR", text: data.msg, type: "error", });
                }
            },
            failure: function (data) {

                swal({ title: "ERROR", text: "Something Went Wrong!!!", type: "error", });

            },
            error: function (data) {

                swal({ title: "ERROR", text: "Something Went Wrong!!!", type: "error", });

            },
        });

    };

    function OnSuccess(response , status, xhr) {


        if (status != "error")
        {
            if (response.type == "success") {

                $("#testModal").modal('hide'); $("#editChildModal").modal('hide'); $("#delChildModal").modal('hide');
                $("#AddChild").attr('disabled', true); $("#editChild").attr('disabled', true); $("#delChild").attr('disabled', true);
                resetFormInputs();
                if (response.vm.JsonSiteConfig != null) {
                    swal({
                        title: response.msg, type: "success", timer: 1500, showConfirmButton: false,
                    });
                    $("#jstree").jstree('destroy').empty();
                    $("#jstree").jstree({

                        "core": {
                            "themes": {
                                "variant": "large"
                            },
                            "data": JSON.parse(response.vm.JsonSiteConfig)
                        },

                        "plugins": ["wholerow"],
                    });
                    $('#jstree').on('changed.jstree', function (e, data) {
                        resetFormInputs();
                        $('#SiteId').val(""); $('#Eswbs').val("");
                        var data = data.instance.get_node(data.selected[0]);
                        var eswbs = data.id;
                        var name = data.text;
                        var parent = data.parent;

                        // use for addChild eswbs becomes peswbs
                        $('#Eswbs').val(eswbs);
                        $('#C_Site_Config_PESWBS').val(eswbs);
                        $('#C_Site_Config_Title').val(name);

                        // use for editChild
                        GetSelectedConfiguration();

                    });
                }
                else {
                    swal({ title: "ERROR", text: "Their is something went wrong!!!", type: "error", });

                }
            }
            else {

                swal({ title: "ERROR", text: response.msg, type: "error", });
            }
        } else
        {
            if (xhr) {
                if (xhr.status == "403") {
                    alert("You are not authorized to perform this operation.");
                }
                else {
                    alert("Something went wrong.Please contact your system Administartor.");
                }
            }
            else {
                alert("Something went wrong.Please contact your system Administartor.");
            }
        }
    };



    function AddChildData() {
        $.ajax({
            cache: 'false',
            type: "POST",
            url: '@Url.Action("AddChild", "Config")',
            dataType: 'json',
            data: {
                SiteId: $('#C_Site_Config_SiteId').val(),
                PESWBS: $('#C_Site_Config_PESWBS').val(),
                ESWBS: $('#C_Site_Config_ESWBS').val(),
                Nomanclature: $('#C_Site_Config_Nomanclature').val(),
                Qty: $('#C_Site_Config_Qty').val(),
                PMS_No: $('#C_Site_Config_PMS_No').val(),
                SMR_Code: $('#C_Site_Config_SMR_Code').val(),
                PartId: $('#C_Site_Config_PartId').val(),
                CageId: $('#C_Site_Config_CageId').val(),
            },
            success: OnSuccess,
            failure: function (vm) {

                var finalError = ''
                for (i = 0; i < vm.responseJSON.length; i++) {
                    finalError += vm.responseJSON[i].key + " : " + vm.responseJSON[i].errors[0] + "\n";
                }

                swal({ title: "ERROR", text: "Something Went Wrong !!! ", type: "error", });
            },
            error: function (vm, status) {

                if (status == "error") {
                    if (vm) {
                        if (vm.status == "403") {
                            alert("You are not authorized to perform this operation.");
                        }
                        else {
                            var finalError = ''

                            if (vm.responseJSON) {
                                for (i = 0; i < vm.responseJSON.length; i++) {
                                    finalError += vm.responseJSON[i].key + " : " + vm.responseJSON[i].errors[0] + "\n";
                                }
                            }
                            swal({ title: "ERROR", text: finalError, type: "error", });
                        }
                        }
                    }
                 else {
                    var finalError = ''
                    if (vm.responseJSON) {
                        for (i = 0; i < vm.responseJSON.length; i++) {
                            finalError += vm.responseJSON[i].key + " : " + vm.responseJSON[i].errors[0] + "\n";
                        }
                    }
                        swal({ title: "ERROR", text: finalError, type: "error", });
                    }

            }
        });
    };

    function EditChildData() {
        $.ajax({
            cache: 'false',
            type: "Post",
            url: '@Url.Action("EditChild", "Config")',
            dataType: 'json',
            data: {
                SiteId: $('#C_Site_Config_SiteId').val(),
                PESWBS: $('#C_Site_Config_PESWBS').val(),
                ESWBS: $('#C_Site_Config_ESWBS').val(),
                Nomanclature: $('#C_Site_Config_Nomanclature').val(),
                Qty: $('#C_Site_Config_Qty').val(),
                PMS_No: $('#C_Site_Config_PMS_No').val(),
                SMR_Code: $('#C_Site_Config_SMR_Code').val(),
                PartId: $('#C_Site_Config_PartId').val(),
                CageId: $('#C_Site_Config_CageId').val(),
                EditSelectedPartId: $('#editNewPartId').val(),
                EditSelectedCageId: $('#editNewCageId').val(),

            },
            success: OnSuccess,
            failure: function (vm) {

                var finalError = ''
                for (i = 0; i < vm.responseJSON.length; i++) {
                    finalError += vm.responseJSON[i].key + " : " + vm.responseJSON[i].errors[0] + "\n";
                }

                swal({ title: "ERROR", text: "Something Went Wrong !!! ", type: "error", });
            },
            error: function (vm, status) {

                if (status == "error") {
                    if (vm) {
                        if (vm.status == "403") {
                            alert("You are not authorized to perform this operation.");
                        }
                        else {
                            var finalError = ''

                            if (vm.responseJSON) {
                                for (i = 0; i < vm.responseJSON.length; i++) {
                                    finalError += vm.responseJSON[i].key + " : " + vm.responseJSON[i].errors[0] + "\n";
                                }
                            }
                            swal({ title: "ERROR", text: finalError, type: "error", });
                        }
                    }
                }
                else {
                    var finalError = ''
                    if (vm.responseJSON) {
                        for (i = 0; i < vm.responseJSON.length; i++) {
                            finalError += vm.responseJSON[i].key + " : " + vm.responseJSON[i].errors[0] + "\n";
                        }
                    }
                    swal({ title: "ERROR", text: finalError, type: "error", });
                }

            }
        });
    };

    function DeleteChildData() {
        $.ajax({
            cache: 'false',
            type: "Post",
            url: '@Url.Action("DeleteChild", "Config")',
            dataType: 'json',
            data: {
                siteId: $('#C_Site_Config_SiteId').val(),
                 eswbs: $('#Eswbs').val(),
            },
            success: OnSuccess,
            failure: function (vm, status) {
                if (status == "error") {

                    if (vm) {
                        if (vm.status == "403") {
                            alert("You are not authorized to perform this operation.");
                        }
                        else {
                            alert("Something went wrong.Please contact your system Administartor.");
                        }
                    }
                    else {
                        alert("Something went wrong.Please contact your system Administartor.");
                    }
                }
            },

            error: function (vm, status) {
                if (status == "error") {

                    if (vm) {
                        if (vm.status == "403") {
                            alert("You are not authorized to perform this operation.");
                        }
                        else {
                            alert("Something went wrong.Please contact your system Administartor.");
                        }
                    }
                    else {
                        alert("Something went wrong.Please contact your system Administartor.");
                    }
                }
            }

        });
    };

    function GetConfig() {
        var siteId = $('#C_Site_Config_SiteId').val();
        $.ajax({
            cache: 'false',
            type: "Post",
            //  contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetConfigEquipment", "Config")',

            dataType: 'json',  // add this line
            data: {
                siteId: siteId
            },
            success: function (vm) {
                $("#jstree").jstree('destroy').empty();
                $("#jstree").jstree({

                        "core": {
                            "themes": {
                                "variant": "large"
                        },
                        'multiple': false,
                            "data": JSON.parse(vm.JsonSiteConfig)
                        },

                        "plugins": ["wholerow"],
                });

                $('#jstree').on('changed.jstree', function (e, data) {
                    resetFormInputs();
                    $('#SiteId').val(""); $('#Eswbs').val("");
                    var data = data.instance.get_node(data.selected[0]);
                    var eswbs = data.id;
                    var name = data.text;
                    var parent = data.parent;

                    // use for addChild eswbs becomes peswbs
                    $('#Eswbs').val(eswbs);
                    $('#C_Site_Config_PESWBS').val(eswbs);
                    $('#C_Site_Config_Title').val(name);

                    // use for editChild
                    GetSelectedConfiguration();

                });
            },
            failure: function (vm) {
                alert("There is something went wrong!");
            },
            error: function (vm) {
                alert("There is something went wrong!");
            }
        });
    };

    function resetFormInputs() {
        var siteId = $('#C_Site_Config_SiteId').val();
        jQuery('#WizardPicturePreview').removeAttr("src");
        //$("#File").prop('disabled', false)
        jQuery(':input', '#AllDetails')
            .removeAttr('checked')
            .removeAttr('selected')
            .attr("style", "pointer-events: '';")
            .not(':button, :submit, :reset, :hidden')
            .each(function () {
                jQuery(this).val(jQuery(this).prop('defautValue'));
            });
        jQuery(':input', '#testModal')
            .removeAttr('checked')
            .removeAttr('selected')
            .attr("style", "pointer-events: '';")
            .not(':button, :submit, :reset, :hidden')
            .each(function () {
                jQuery(this).val(jQuery(this).prop('defautValue'));
            });
        jQuery(':input', '#delChildModal')
            .removeAttr('checked')
            .removeAttr('selected')
            .attr("style", "pointer-events: '';")
            .not(':button, :submit, :reset, :hidden')
            .each(function () {
                jQuery(this).val(jQuery(this).prop('defautValue'));
            });
        $('#C_Site_Config_SiteId').val(siteId);
    };

    function GetEditChild() {




        $("#C_Site_Config_PESWBS").val($("#tbPEswbs").val());
        $("#C_Site_Config_Title").val($("#tbtitle").val());
        $("#C_Site_Config_ESWBS").val($("#tbEswbs").text());
        $("#C_Site_Config_Nomanclature").val($("#tbEswbsName").text());
        $("#C_Site_Config_Qty").val($("#tbQpa").text());
        $("#C_Site_Config_PMS_No").val($("#tbPms").text());
        $("#C_Site_Config_SMR_Code").val($("#tbSmr").val());
        $('#C_Site_Config_PartId').val($("#tbPartId").val());
        $('#C_Site_Config_CageId').val($("#tbCageId").val());
    };

    function OpenAllNode() {
        let selectedNode = $("#jstree").jstree("get_selected");
        if (selectedNode) {
            let node_info = $('#jstree').jstree("get_node", selectedNode[0]);
            $("#jstree").jstree("open_node", [selectedNode, node_info.children_d]);
        }
    }

</script>

@*<section class="content-header">
        <h1>
            Configure Site
        </h1>
    </section>*@
<!-- Main content -->
<!--<section class="content" style="height:0px !important; visibility:hidden" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row" style="margin-bottom: 0.1rem">
                                    <label class="col-sm-2 col-form-label">Selected Unit</label>
                                    <div class="col-sm-4">
                                   </div>
                                    <div class="col-sm-7">
                                                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>-->
<!-- /.row (main row) -->
<!--</div>
</section>-->
<!-- /.row (main row) -->
<input type="hidden" name="SiteId" id="SiteId" />
<input type="hidden" name="Eswbs" id="Eswbs" />

<section class="content">
    <br />
    <div class="container-fluid">
        <div class="row" id="ConfigEquipment">

            <div class="col-md-12">
                <div class="card" style="width:100%">

                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row" style="margin-bottom: 0.1rem">
                                    <label class="col-sm-3 col-form-label">Site Configuration:</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.C_Site_Config.SiteId, new SelectList(Model._tbl_Unit, "Id", "Name"), "Select", new { @class = "form-control", onchange = "GetConfig()", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.C_Site_Config.SiteId, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                <input type="hidden" name="selectedItems" id="selectedItems" />

                                <input data-toggle="modal" data-target="#testModal" type="button" value="Add Child" class="btn button-color fa fa-plus" id="AddChild" />
                                <input data-toggle="modal" data-target="#testModal" onclick="GetEditChild()" type="button" value="Edit ESWBS" class="btn button-color fa fa-plus" id="editChild" />

                                <input data-toggle="modal" data-target="#delChildModal" type="button" value="Delete ESWBS" class="btn button-color fa fa-plus" id="delChild" />
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="scroll" style="overflow-x: auto;  width: 100%;">
                            <div class="row">
                                <div class="col-md-8">
                                    <div id="jstree" style="min-height:495px"></div>
                                </div>

                                <br />
                                <div class="col-md-4" id="divDetails" style="display:none;">
                                    <div class="card">
                                        <div class="card-header" style="background-color: #17a2b8 !important;">
                                            <h1 style="color:white; font-size: 1.4rem;" class="card-title">Selected ESWBS Details</h1>
                                        </div>

                                        <div class="card-body">
                                            <div class="col-md-12" style="width:100%" >
                               
                                                    <input id="tbtitle" type="hidden" />
                                                    <input id="tbPartId" type="hidden" />
                                                    <input id="tbCageId" type="hidden" />
                                                    <input id="tbPEswbs" type="hidden" />
                                                    <input id="tbSmr" type="hidden" />
                                                    <div class="form-group">
                                                        <label><strong>Eswbs No:</strong></label>
                                                        <br />
                                                        <label id="tbEswbs"></label>
                                                        @*<input class="form-control" type="text" id="tbEswbs" readonly="readonly" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label><strong>Eswbs Name:</strong></label>
                                                        <br />
                                                        <label id="tbEswbsName"></label>
                                                        @*<input class="form-control" id="tbEswbsName" type="text" readonly="readonly" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label><strong>Part Name:</strong></label>
                                                        <br />
                                                        <label id="tbPartName"></label>
                                                        @*<input class="form-control" id="tbPartName" type="text" readonly="readonly" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label><strong>Manufacturer Name:</strong></label>
                                                        <br />
                                                        <label id="tbManufacturer"></label>
                                                        @*<input class="form-control" id="tbManufacturer" type="text" readonly="readonly" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label><strong>PMS No:</strong></label>
                                                        <br />
                                                        <label id="tbPms"></label>
                                                        @*<input class="form-control" id="tbPms" type="text" readonly="readonly" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label><strong>Qty Per Assy:</strong></label>
                                                        <br />
                                                        <label id="tbQpa"></label>
                                                        @*<input class="form-control" id="tbQpa" type="text" readonly="readonly" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label><strong>Part No:</strong></label>
                                                        <br />
                                                        <label id="tbPartNo"></label>
                                                        @*<input class="form-control" id="tbPartNo" type="text" readonly="readonly" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label><strong>Cage Code:</strong></label>
                                                        <br />
                                                        <label id="tbCage"></label>
                                                        @*<input class="form-control" id="tbCage" type="text" readonly="readonly" />*@
                                                    </div>
                                         
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                    </div>

                </div>
            </div>


           


        </div>


    </div>
</section>


<div id='testModal' class='modal fade'>
    <div class="modal-dialog modal-lg" style="max-width: 60% !important;">
        <div class="modal-content">
            <div id='myModalContent'>

                <div class="modal-header">
                    <h4 class="modal-title"><strong>Add or Edit Child</strong></h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="addChildForm">
                    <div class="modal-body">
                        @Html.HiddenFor(model => model.C_Site_Config.PartId)
                        @Html.HiddenFor(model => model.C_Site_Config.CageId)
                        @Html.HiddenFor(model => model.C_SiteConfigModel.PartId)
                        @Html.HiddenFor(model => model.C_SiteConfigModel.CageId)

                        <div class="card card-default">

                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="card-body" id="InputFields">
                                <fieldset class="border p-2">
                                    <legend class="w-auto">Selected Parent (ESWBS)</legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>PSWBS No.</label>

                                                @Html.EditorFor(model => model.C_Site_Config.PESWBS, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                @Html.ValidationMessageFor(model => model.C_Site_Config.PESWBS, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>PSWBS Name</label>
                                                @Html.EditorFor(model => model.C_Site_Config.Title, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                @Html.ValidationMessageFor(model => model.C_Site_Config.Title, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                                <br />

                                <fieldset class="border p-2">
                                    <legend class="w-auto">Enter Child ESWBS Details</legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>ESWBS No.<span style="color:red">*</span></label>

                                                @Html.EditorFor(model => model.C_Site_Config.ESWBS, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                                @Html.ValidationMessageFor(model => model.C_Site_Config.ESWBS, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>ESWBS Name<span style="color:red">*</span></label>

                                                @Html.EditorFor(model => model.C_Site_Config.Nomanclature, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                                @Html.ValidationMessageFor(model => model.C_Site_Config.Nomanclature, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Qty<span style="color:red">*</span></label>

                                                @Html.EditorFor(model => model.C_Site_Config.Qty, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                                @Html.ValidationMessageFor(model => model.C_Site_Config.Qty, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>PMS No.</label>


                                                @Html.DropDownListFor(model => model.C_Site_Config.PMS_No, new SelectList(Model._M_PMS, "PMS_NO", "PMS_NO"), "Select", new { @class = "form-control", @required = "true" })
                                                @Html.ValidationMessageFor(model => model.C_Site_Config.PMS_No, "", new { @class = "text-danger" })


                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>SMR Code</label>

                                                @Html.EditorFor(model => model.C_Site_Config.SMR_Code, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.C_Site_Config.SMR_Code, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>PartId</th>
                                                <th>Part No</th>
                                                <th>Part Name</th>
                                                <th>Part Type</th>
                                                <th>Cage Code</th>
                                                <th>CageId</th>

                                            </tr>
                                        </thead>
                                    </table>
                                </fieldset>

                            </div>

                        </div>

                        <div class="card-footer" id="addFooter">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input id="btnAddChild" type="button" onclick="AddChildData()" value="Submit" class="btn btn-primary float-right" />
                        </div>
                        <div class="card-footer" id="editFooter">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input id="btnEditChild" type="button" onclick="EditChildData()" value="Save" class="btn btn-primary float-right" />
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id='delChildModal' class='modal fade'>
    <div class="modal-dialog modal-lg" style="width: 40% !important;">
        <div class="modal-content">
            <div id='myModalContent1'>

                <div class="modal-header">
                    <h4 class="modal-title" style="color:red"><b>Confirm Delete</b></h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    <h3>Are you sure you want to delete this?</h3>
                </div>
                <div class="modal-footer">
                    <div class="form-actions no-color">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" onclick="DeleteChildData()" value="Delete" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

