@using CMMS.Web.Helper
@{
    var userRoles = (List<CMMS.Web.Helper.RolesVM>)Model;
}

<link href="~/Content/AdminLTE/tailwind.min.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/AdminLTE/jquery-tailwind-toggle.js")"></script>

@Html.AntiForgeryToken()
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">

        CONFIGURATION & MAINTENANCE MANAGEMENT SYSTEM
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto" style="align-content:center">



        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">

                <i class="fas fa-sliders-h"></i>

                <span class="badge badge-danger navbar-badge"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                @{
                    foreach (var role in userRoles)
                    {
                        <a href="#" class="dropdown-item">
                            <div class="media">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        @role.RoleName
                                        <span class="float-right text-sm text-danger">
                                            <label data-toggle="checkbox-toggle" data-handle-size="10">
                                                <input value="@role.RoleId" name='@role.RoleName' type="checkbox" />
                                            </label>
                                        </span>
                                    </h3>
                                    <p class="text-sm"> @role.RoleDescription</p>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                    }
                }
            </div>
        </li>

        <li>
            <a class="nav-link" href="@Url.Action("LogOff","Account")">
                <i class="fas fa-sign-out-alt">Logout</i>
                <span class="badge badge-danger navbar-badge"></span>
            </a>
        </li>
    </ul>
</nav>

<script>
    function SwitchRoles(selectorOfCheckBox) {
        $(selectorOfCheckBox).each(function () {
            currentRoleId = @Html.Raw(Json.Encode(((SessionHelper)Session[SessionKeys.SessionHelperInstance]).CurrentRoleId));
            if (currentRoleId === $(this).prop('value')) {
                $(this).prop('checked', true);
                ChangeColor(this)
            }
            $(this).change(function () {
                $.ajax({
                url: '@Url.Action("SwitchRole", "Account")',
                type: 'POST',
                data: {
                    roleId:  $(this).prop('value')
                },
                success: function (response) {
                    alert('Role has been switched successfully.');
                    window.location.href = response.Url
                    },
                error: function () {
                        alert('Some error occured.');
                    }
                });
            });
        });
    }

    $(function () {
        SwitchRoles("input:checkbox", true);
    });
</script>