@using CMMS.Web.Helper
@{
    var userRoles = (List<CMMS.Web.Helper.RolesVM>)Model;
}

<link href="~/Content/AdminLTE/tailwind.min.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/AdminLTE/jquery-tailwind-toggle.js")"></script>

<style>
   /* .dropdown-menu-lg {
        min-width: 165px !important;
    }

    .nav-link{
        padding-left:0rem !important;
    }*/
</style>

@Html.AntiForgeryToken()
<nav class="main-header navbar navbar-expand navbar-info">
    <!-- Left navbar links -->
    <ul class="navbar-nav" style="margin-right:auto;">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars bg-info"></i></a>
        </li>

        <li class="nav-item" style="margin-top: 5px;color: #fff;margin-left: 300px">
            <b> Configuration & Maintenance Management System</b>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav" style="align-content:center">

        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown" tooltip="Switch Roles">

            <a class="nav-link" data-toggle="dropdown" href="#" t>
                <i class="fas fa-sliders-h bg-info"></i>
                <span class="badge badge-danger navbar-badge"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                @{
                    foreach (var role in userRoles)
                    {
                        <a href="#" class="dropdown-item">
                            <div class="media">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        @role.RoleName
                                        <span class="float-right text-sm text-danger">
                                            <label data-toggle="checkbox-toggle" data-handle-size="10">
                                                <input value="@role.RoleId" name='@role.RoleName' type="checkbox" />
                                            </label>
                                        </span>
                                    </h3>
                                    <p class="text-sm"> @role.RoleDescription</p>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                    }
                }
            </div>

        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="fas fa-th-large bg-info"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                <div class="dropdown-divider cc_cursor"></div>
                <a class="nav-link" data-modal='' href="@Url.Action("ChangePassword","Administration")">
                    <i class="fa fa-key"></i> Change Password <span class="badge badge-danger navbar-badge"></span>
                </a>

                <div class="dropdown-divider"></div>
                <a class="nav-link text-danger" href="@Url.Action("LogOff","Account")">
                    <i class="fa fa-sign-out-alt"></i> Logout
                    <span class="badge badge-danger navbar-badge"></span>
                </a>
            </div>
        </li>
    </ul>
</nav>

<script>
    function SwitchRoles(selectorOfCheckBox) {
        $(selectorOfCheckBox).each(function () {
            currentRoleId = @Html.Raw(Json.Encode(((SessionHelper)Session[SessionKeys.SessionHelperInstance]).CurrentRoleId));

            if (currentRoleId === $(this).prop('value')) {

                    $(this).prop('checked', true);
                    ChangeColor(this)

            } else {
                $(this).change(function () {
                    $.ajax({
                        url: '@Url.Action("SwitchRole", "Account")',
                        type: 'POST',
                        data: {
                            roleId: $(this).prop('value')
                        },
                        success: function (response) {
                            if (response) {

                                if (response.type == "success") {

                                    $(this).prop('checked', true);
                                    ChangeColor(this);

                                    alert('Role has been switched successfully.');
                                    window.location.href = response.Url
                                } else {
                                    alert('Some error occurred.');
                                }

                            } else {
                                alert('Some error occurred.');
                            }

                        },
                        error: function () {
                            alert('Some error occured.');
                        }
                    });
                });
            }
        });
    }

    $(function () {
        SwitchRoles("input:checkbox", true);
    });
</script>


<div id='myModal' class='modal fade'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'>

            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/Common/ModalPopup.js")
}