 
@{
    ViewBag.Title = "LinkedDashboards";
    Layout = "~/Views/Shared/_LayoutPageNew.cshtml";
}

<h1>hello</h1>
@*<style>
    .hide {
        display: none;
    }
</style>

<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>

<script>
    var permissions;

    var dtFormat = 'DD/MM/YYYY';

    $(document).ready(function ()
    {
        permissions = @Html.Raw(Json.Encode(((SessionHelper)Session[SessionKeys.SessionHelperInstance]).CurrentRolePermissions));

        if (!permissions.filter(obj => obj.PermissionId == "AssignDashboard").length > 0)
        {
            $("#btnAssignDashboard").addClass('disabled')
        }

        var table;
        table = $('#tblUserDashboards').DataTable(
            {
                "bServerSide": true,
                "processing": true,
                "scrollX": true,
                "paging": true,
                "filter": true,
                "order": [[1, 'asc']],
                "lengthMenu": [[10, 25, 50,100,-1], [10, 25,50,100, "All"]],

                ajax: {
                    type: 'POST',
                    url: '@Url.Action("LoadUserDashboard")',
                    dataType: 'json',
                    dataSrc: 'data',
                    data: '{userId:' + @ViewBag.UserId + '}'
                },

                columns: [

                    { 'data': 'Id', "name": "Id",  },
                    { 'data': 'RoleId', "name": "Role Id", },
                    { 'data': 'DashboardId', "name": "Dashboard Id", },
                    { 'data': 'InsertedBy', "name": "Inserted By", },
                    {
                        'data': 'InsertionDateTime',
                        "name": "Insertion Date Time",
                        "render": function (value) {
                            if (value === null) return "N/A";
                            return moment(value).format(dtFormat);
                        }
                    },
                    { 'data': 'LastUpdatedBy', "name": "LastUpdatedBy", },
                      {
                        'data': 'LastUpdatedDateTime',
                        "name": "Last Updated Date Time",
                        "render": function (value) {
                            if (value === null) return "N/A";
                            return moment(value).format(dtFormat);
                        }
                    },
                    { 'data': 'IsDefault', "name": "Default" },
                    { 'data': 'IsPrefered', "name": "Prefered" },
                     {
                        'data': function (data, type, row, meta) {
                            var actions = '';

                            if (permissions.filter(obj => obj.PermissionId == "EditUserDashboardMapping").length > 0) {
                                actions = '<a id="btnEditMapping" class="btn btn-primary btn-xs select"   href="/CustomDashboard/LinkedDashboards/' + data.Id + '"><i class="fa fa-pencil"></i >' + 'Edit' + '</a>';
                            }
                            else {
                                actions = '<a id="btnEditMapping" class="btn btn-primary btn-xs select disabled"   href="/CustomDashboard/LinkedDashboards/' + data.Id + '"><i class="fa fa-pencil"></i >' + 'Edit' + '</a>';
                            }

                            actions = actions + " " + '|' + " ";

                            if (permissions.filter(obj => obj.PermissionId == "DeleteUserDashboardMapping").length > 0) {
                                actions = actions + '<a id="btnDelMapping" class="btn btn-danger btn-xs select"  href="/CustomDashboard/Delete/' + data.Id + '">' + 'Delete' + '</a>';
                            }
                            else {
                                actions = actions + '<a id="btnDelMapping" class="btn btn-danger btn-xs select disabled" href="/CustomDashboard/Delete/' + data.Id + '">' + 'Delete' + '</a>';
                            }

                            return actions;
                        }
                    },
                ],

                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
               "rowCallback": function (row, data, dataIndex) {
                   if (data["Status"] == "InActive") {
                       $('td', row).css('background-color', 'red');

                   }
               },

            });

        $('#tblUserDashboards tbody').on("click", '.select', function () {
            var tblData = table.rows($(this).closest('tr')).data();
           
            var options = {
                "backdrop": "static",
                keyboard: true
            };
    
           $.ajax({
                type: "GET",
                url: this.href,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function(data)
                {
                    $('#myModalContent').html(data);
                    $('#addEditMappingModal').modal(options);
                    $('#addEditMappingModal').modal('show');
               },
               failure: function () {
               },
               error: function () {

                    alert("Content load failed.");
                }
           });

            return false;
        });

        $("#btnAssignDashboard").click(function () {

            var options = {
                "backdrop": "static",
                keyboard: true
            };

           $.ajax({
                type: "GET",
                url: '@Url.Action("AddUserDashboard", "CustomDashboard")',
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function(data)
                {
                    $('#myModalContent').html(data);
                    $('#addEditMappingModal').modal(options);
                    $('#addEditMappingModal').modal('show');
               },
               failure: function () {
               },
               error: function () {

                    alert("Content load failed.");
                }
            });
        });
    });
</script>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header">
                        <div class="card-tools">
                            <input type="button" value="Assign Dashboard" style="float:right;" class="btn btn-success" id="btnAssignDashboard">
                        </div>

                    </div>

                    <div class="card-body">
                        <table id="tblUserDashboards" class="table table-bordered table-striped">

                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Role Id</th>
                                    <th>Dashboard Name</th>
                                    <th>Inserted By</th>
                                    <th>Insertion Datetime</th>
                                    <th>Last Updated By</th>
                                    <th>Last Updated Datetime</th>
                                    <th>Default</th>
                                    <th>Prefered</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                            </tbody>

                        </table>
                    </div>

                    <div class="card-footer">
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>


<div id='addEditMappingModal' class='modal fade'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'>

            </div>
        </div>
    </div>
</div>*@


@section scripts{
    @Scripts.Render("~/Scripts/Common/ModalPopup.js")
}



